body{
background-color:#5CB3FF;
margin-center: 15%;
}
html {font-family: sans-serif;}

table {
  text-align:center;
 border-collapse: collapse;
 border:10px solid rgb(200,200,200);
 letter-spacing: 2px;
 font-size: 0.8rem;
 color:#E5E4E2;
}
h1{
    padding: 20px;
    text-align: center;
    color:#0C090A;
  }
td, th {
 border: 1px solid rgb(190,190,190);
 padding: 10px 20px;
 }