body{
   font-family: sans-serif;
   background-color: #C9AE5D;
}
table {
 border-collapse: collapse;
 border: 5px solid rgb(200,200,200);
 letter-spacing: 1px;
 font-size: 0.8rem;
 color: #483C32;
}
td, th {
 border: 1px solid rgb(190,190,190);
 padding: 10px 20px;
}
h1{
    padding: 20px;
    text-align: center;
  color: #5C3317;
}