html{
  font-family: San-serif;
	}
	body {
  	background-color: #AF9B60;
	}
	h1 {
	padding-top:20px;
        padding-bottom: 20px;
	color: black;
	
	}
	p {
	font-size: 0.9rem;
	padding-left: 75px;
	padding-right: 75px;
	color: purple;
	}
	table {
	border-collapse: collapse;
	border: 2px solid rgb(0,0,0);
	margin-right: auto;
	margin-left: auto;
	color: darkred;
	letter-spacing: 0.5px;
	font-size: 0.8rem;
	}
	th{
	background-color:#49413F;
 	color: white;
	}
	td, th {
	border: 1px solid rgb(0,0,0);
	padding: 10px 20px;
	text-align: center;
	}
	caption {
	padding: 10px;
	}